/* @override 
	http://redfish.local/~jennie/bentobox/css/yari
*/

@import url("jquery.tablesorter.pager.css");
@import url("framework.css");


/* @group Layout */

/* @group Login Screen */

#login {
	background-color: #eee;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
	border-radius: 10px;
	overflow: hidden;
	margin: 4em auto 0 auto;
	text-align: center;
	width: 40em;

}

#page-tagger  {
  list-style: none;
  padding: 0;
  margin: 0;
}
#page-tagger li
{
display: inline;
text-decoration: underline;
color: #3d8af4;
padding: 5px 8px;
line-height: 30px;
margin: 0 3px 0 0;
white-space: nowrap;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
font-size: 12px;
cursor: pointer;
background-color: #fcffad;
}
div.option-tags textarea
{
	width: 90%;
	height: 60px;
}
div.undefined_quantity input
{
	float: left;
}

body#product #content div.undefined_quantity span.field_line label {
	width: 80%;
	margin-left: 4px;
	float: left;
	clear: none;
}
#product .price .price-line
{
	width: 100%;
	margin: 9px 0;
}

#product input#item_name.text {
	width: 90%;
}
#product .price .dolla
{
float: left;
width: auto;
margin-right: 3px;
	font-size: 16px;
	line-height: 32px;
}

#product .price input#price.text {
padding: 5px 5px !important;
	float: left;
	width: 60px;
	margin: 0;
	text-align: right;
	font-size: 18px;
}

#product input#item_number.text {
	font-size: 18px;
	width: 90%;
}



#product .price .currency
{
	float: left;
	width: auto;
	clear: none;
	margin: 0 0 0 5px;
	padding:  0;
line-height:33px;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	color: #d54447;
}

#product .item_name
{
float: left;
width: 50%;
}

#product .item_number,
#product .price
{
	float: left;
	width: 25%;
}
#product .option-name input
{
	width: 90% !important;
}
#product .option-group
{
	margin-bottom: 10px;
	float: left;
	padding: 10px 0 0 0;
	width: 100%;
	border-bottom: 1px solid #eee;
}
#product .option-group span.field_line
{
	border: none;
	margin: 0;
}

span.example {
	font-style: italic;
	font-size: 12px;
}


	

#login h1 {
	color: #808080;
	margin-bottom: 0;
	height: 50px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	float: left;
	width: 100%;
	text-transform: uppercase;
	background: #525252 url(../images/yari/yari_logo.png) no-repeat 10px;
}
#login h1 span.welcome
{
	display: none;
}
#login input[type="text"],
#login input[type="password"] {
	color: #2c1e3a;

	margin: 0;
float: left;
width: 96%;
	font: 24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#login button
{
margin-bottom: 15px;

}
#login div
{
	float: left;
	width: 92%;
	padding: 0 4%;
	margin: 10px 0;
}
#login div label {
	display: block;
	text-align: left;
}

div.keep_logged_in {
	display: block;
	float: left;
	margin: 1em 0;
	width: 100%;
}

#login p.error {
	background-color: #e7ff75;
	border: 2px solid #e7ff59;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}



div.keep_logged_in input {
	float: left;
	font-size: 1.4em;
	line-height: normal;
	width: auto;
}

div.keep_logged_in label {
	float: left;
	font-size: 1.4em;
	cursor: pointer;
	padding-left: 5px;
	width: 20em;
	
}

/* @end */
/* @group Nav */

.col-b h2
{margin-bottom: .3em; border-bottom: solid 1px #ddd; padding-bottom: .3em;}
 

 
div#nav-primary {
	background-color: #2e2e2e;
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #2e2e2e;
	float: left;
	padding: 3px 0;
	overflow: visible;
	width: 100%;
	position: relative;
	z-index: 10;}
 
	div#nav-primary ul.top-level {
		display: block;
		float: left;
		list-style-type: none;
		margin: 0 0 0 10px;
		padding: 0;
		position: relative;
		white-space: nowrap; }
 
		div#nav-primary ul.submenu {
			background: #2e2e2e;
			border: none;
			display: block !important;
			border-left: solid 1px #eee;
			border-right: 1px solid #bdbdbd;
			border-bottom: 1px solid #bdbdbd;			
margin: 0 0 0 10px;
			padding: 0 10px 5px 10px;
			position: absolute;
			top: 40px;
			width: 150px;
			z-index: 9;
}
		
		div#nav-primary ul li {
			display: inline;
			float: left;
			padding: 0;
			margin: 0 10px; }


			

#nav-primary ul.top-level li.parent.expanded a {
}
#nav-primary ul.top-level li.parent.expanded ul li a
{
	background-image: none;
}
		div#nav-primary ul.submenu li {
			margin: 2px 0;
			padding: 0;
			display: block;
			width: 100%;
	color: #bbb;
}
 
			div#nav-primary ul li ul li a {
	color: #6bffff;
}
 

 			div#nav-primary ul li a
 			{
				color: #b6b6b6;
				margin: 5px;
				padding: 0 20px;
				float: left;
	font: 16px/1.7 "HelveticaNeue-Light", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, Geneva, sans-serif;
}
h1, h2, h3, h4, h5,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
	margin: 0;
	color: #999;
	line-height: normal;
	font-family: "HelveticaNeue-Light", "Helvetica Neue", HelveticaNeue, Arial, Helvetica, Geneva, sans-serif;
}
div#nav-primary ul li ul.submenu li a,
div#nav-primary ul li ul.submenu li a:hover {
				display: block;
				float: left;
				font-size: 16px;
				margin: 0;
	color: #464646;
padding: 0 2% !important;
width: 96% !important;


}
 div#nav-primary ul li ul.submenu li a:hover
 {
	background: #fff89e !important;
	text-shadow: none;
	
}
			div#nav-primary ul li.current a,
div#nav-primary ul li.current a:hover,
div#nav-primary ul li a:hover {
	background: #100f15 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#100f15), color-stop(1,#000));
	background-color: #100f15;
	border-bottom: none;
	text-decoration: none;
	border-bottom: none;
	
	-webkit-box-shadow: 0 1px 0 #3a3b46;
	-moz-box-shadow: 0 1px 0 #3a3b46;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	color: #fff;
}
 div#nav-primary ul li.current ul li a
 {
	color: #888;
	text-shadow: none;
}

div#nav-primary ul li.current ul li a:hover
{
	
	text-shadow: none;
}

			
 



/*
div#nav-primary ul li a.new {
	color: #0059bd;
	font-weight: bold;


}

divdiv#nav-primary ul li a.new:hover {
	
}
divdiv#nav-primary ul li.current a.new,
divdiv#nav-primary ul li.current a.new:hover {
	color: #fff;
	background-color: #9b8fb6;
}*/
/* @end */

div#content {
	float: left;
	margin-top: 0;

width: 96%;
padding: 25px 2% 0 2%;	clear: none;
	z-index: 0;
	background: url(../images/yari/field_bg.gif) repeat-x;
}

div#content.draft
{
		background: url(../images/yari/draft.png) repeat-x;
	border-top-style: solid;
	border-top-color: #e0c9f9;
}

div#content div.heading {
	clear: both;
	float: left;
	font-size: 1.8em;
	margin-bottom: .5em;
	width: 43%;
}

div#standard_header {
padding: 10px 2%;
	height: 30px;
	overflow: hidden;
}

#account span {
	color: #444;
	font-size: 14px;
	float: right;
	text-align: right;
}
td p
{
	margin: 0 0 4px 0;
}
div#standard_header span.domain, #login h1 .domain {
	color: #5e5e5e;
	font-size: 18px;
	font-variant: small-caps;
	letter-spacing: 2px;
	text-transform: lowercase;
	margin-left: 95px;


}
#login h1 .domain 
{
	float: left;
top: 22px;
margin-left: 106px;
color: #979797;
position: relative;
}
div#main {
	clear: both;
	float: left;
	width: 75%;
}
.col-b div#main
{
	width: 100%;
}
div#main div {
	float: left;
	width: 100%;
}
div#main div.markItUp
{
  width: 94%;
  padding: 10px 2%;

}

div.markItUpHeader {
  margin: 10px 0;

}

div#main div span.field_line
{
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
}

body#event #main h3 {
	clear: both;
	margin: 1em 0;
	color: #444;
	background: #fdfec5;
	font-weight: normal;
	font-style: normal;
	padding: 4px;
	width: 90%;
	line-height: 1.7em;
}
body#class #content div.col.classes
{
	clear: both;
}
body#class #content div.col.dates,
body#class #content div.col.classes {

}


div#col-right {
	float: right;
	margin-left: 2%;
	width: 23%;
	position: relative;
	z-index: 2;
	
}

div#footer {
	bottom: 0;
	clear: both;
	display: none;
	margin: 20px auto 0 auto;
	float: left;
	padding: 0 1% 1em 1%;
	width: 98%;



}

body#pages {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#content ul.big-options li {
	float: left;
	width: 40%;
	clear: right;
padding: 20px;	list-style: none;
	background: #eee;margin: 4px;}

#content ul.big-options li.break {
	clear: left;
}
	#content ul.big-options li.classes
	{
	background-color: #deecf5;
}

#content ul.big-options li ul li a h5

{
	color: #5172bc;
padding: 0;
line-height: normal;
font-size: 14px;
	text-decoration: underline;
}	
#content ul.big-options li ul
{
	padding: 0;
	margin: 0;
}
#content ul.big-options li ul li
{
	padding: 0;
	background: none;
	width: 100%;
	margin: 0 0 4px 0;
}

#content ul.big-options li.classes h3 {
	color: #505050;
}

a.add-date {
	color: #00ad79;
	text-decoration: underline;
	float: right;
}

input#event_date.datetime.hasDatepicker {
	font: bold 22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#col-right div.tags span.field_line .description {
	clear: both;
	float: left;
	font-size: 12px;
	font-style: italic;
	color: #8b8b8b;
}
#content ul.big-options li a {
line-height: normal;


	font-size: 26px;
	}

	#content ul.big-options li ul  
	{
margin-top: 1em;
}
	#content ul.big-options li li  a
	{
	font-size: 14px;

}
div#footer p {
	color: #7e7e7e;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

#content div.group {
	float: left;
	width: 100%;
}

body#articles {
	
}



#col-right div.col-a,
#col-right div.col-b {
	float: left;
	padding: 0 4% 0 0;
	width: 46%;
}

div#action_bar {
	clear: both;
	float: left;
	margin-top: 10px;

	width: 100%;
}

#write div#action_bar, #product div#action_bar
{
	padding: 10px 2%;
	width: auto;
	margin: 0 auto;
	text-align: center;
}

#write div#action_bar button, #product div#action_bar button

{
	margin: 0 5px;
}
#write div#action_bar button#submit-live
{
float: right;
color: #000;
}
#shop #content a.add
{
	float: right;margin-bottom: 10px;
}
#my-profile div.cap {
	position: absolute;
	right: 76px;
	top: -6px;
	width: 0;
	height: 0;
	border-bottom: 6px solid #66cc9a;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 0;
	z-index: 2;
}

div.boxcap {
	position: relative;
}
div.boxcap div.bar {
	height: 25px;
	background-color: #d9cce9;
	text-align: left;
}

div.bar h4 span {
	font-size: 80%;
	color: #a68dc4;
	font-style: italic;
}
div.boxcap.big div.bar
{
	height: 45px;

}

div.boxcap.big div.bar h4
{
	font-size: 18px;
	line-height: 45px;
	float: left;
}
div.boxcap.big div.bar .actions p
{
	display: inline;
	color: #7c639b;
	font-size: 12px;
	line-height: 45px;
	margin: 0 10px 0 0;
	float: left;
}
div.boxcap.big div.bar button
{

	padding: 3px 20px;
	color: #4b4b4b;
margin: 10px;
-moz-border-radius: 30px;
	-moz-box-shadow: rgba(0,0,0,.5) 0 1px 3px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,.5) 0 1px 3px;
	font-weight: bold;
	font-size: 14px;
}
#submit-draft
{
	color: #5c5c5c;
	font-weight: normal;
	font-style: normal;
}
div.boxcap.big div.bar .actions
{
	float: right;
	padding-right: 10px;
	
}


div.boxcap.big div.cap
{
	top: 44px;
	left: 50%;
	letter-spacing: 1px;
}

div.boxcap div.bar h4 {
	padding: 0 0 0 12px;
	margin: 0;
	color: #7c639b;
	text-align: left;
	line-height: 25px;
	letter-spacing: 0;
	font-size: 14px;
}

div.boxcap div.cap {
	position: absolute;
	left: 10px;
	top: 24px;
	width: 0;
	height: 0;
	border-top: 8px solid #d9cce9;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;
	z-index: 2;
}

a.button.add.tabfriend {
	float: right;
	top: 10px;
	position: relative;
}
a.button.add.tabfriend.mini {
	float: right;
	top: 0;
	position: relative;
	font-size: 12px;
}

td ul.datelist {
	float: left;
	width: 60%;
	margin: 0;
	list-style: none;
}
table#article_table td p.nada
{
	display: inline;
	float: left;
	width: 50%;
	color: #aeaeae;
	font-style: italic;
}
td ul.datelist a
{
	text-decoration: underline;
}
div.boxcap div.content {
	position: relative;
	padding: 10px 0;
	overflow: hidden;
	width: 100%;
	float: left;

}
div.boxcap.big div.content
{
	width: 98%;
	padding:  10px 1%;
}
div.boxcap div.bar div.content {
	position: relative;
	left: 8px;
	top: 7px;
	padding: 0;
	margin: 0;
	color: #fff;
	float: left;
}


#action_bar p {
	font-size: 13px;
	margin: 0 0 5px 0;
	color: #717171;
}
div#article_list,ul#sub-nav {
	clear: both;
}

/* @end */

/* @group General Type */

h1.standard {
	color: #808080;
	margin-bottom: 0;
	float: left;
	width: 50%;
	text-transform: uppercase;
	background: url(../images/yari/yari_logo.png) no-repeat;
}

/* @end */
#ui-datepicker-div {
position: absolute;
z-index: 999999999;	
display: n;;
}

#col-right div.publish_date span.field_line {
	margin-top: 1em;
}

/* @group General Forms and Labels */

input#allow_comments {
	display: inline;
	float: left;
	z-index: 0;

}
input#title.text
{
	width: 92%;
}


input#title.text,
#product .item_name input {
	clear: both;
	float: left;
	font-size: 18px;
}
	
#product .item_name input
{
	width: 96%;
}
textarea.markItUpEditor {
width: 98%;
}


input.text,textarea {
	background-attachment: scroll;
	background-image: url(../images/yari/field_bg.gif);
	background-position: 0% 0%;
	background-repeat: repeat-x;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 14px;
}

.links-form textarea.text {
	height: 45px;
}

#links .col-b textarea#category.text {
	height: 45px;
	
}

body#product textarea#description {
	height: 75px;
	width: 98%;
}

body#write #content label, body#product #content label {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

label
{
	float: left;
	width: 100%;
	display: block;
	color: #7e7e7e;
}

#content h2 {
	padding-left: 15px;
	margin: 0 0 10px 0;
}

div.url textarea {
height: 45px;
	font-size: 13px;
	color: #6f6f6f;
}

#content h2
{

}
#content h2 a.url {
font-size: 80%;	
margin-left: 10px;
border-bottom: solid 1px #ddd;

}


/* @group Tips */


img.tip-image
{
	cursor: pointer;
line-height: 2em;
position: absolute;
padding: 2px 2px 2px 0;
margin-left: 5px;
}

#write form img.tip-image
{
	padding: 5px 0 0 0;

}
.tip {
	width: 200px;
	font-size: 12px;
	background: #fcedbb;
	clear: none;
	float: left;
	position: absolute;
	z-index: 2500;

}

p.note {
	font-style: italic;
	font-size: 12px;
	display: block;
	clear: both;
	margin: 5px 0 0 0;
	float: left;
	width: 100%;
	color: #888;
}

.tip-content {

}

div.tip p
{
	line-height: 1.5;
	margin: 0;
	padding: 5px;
}

#content form {
	overflow: hidden;
	position: relative;

}
table td form
{
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}






/* @end */




#main div label {
	clear: both;
	float: left;
	width: 100%;
}



p.badfield {
	border: none;
	padding: 0;
}

select {
	padding: 2px;

}

#col-right.advanced select {
	width: 40%;
	margin-bottom: 8px;
}
#col-right.advanced .field_line
{
	border-bottom: solid 1px #eee;
	float: left;
	position: relative;
	margin-bottom: 10px ;
	width: 100%;
}
span.action.label {
	clear: both;
	color: #5d5d5d;
	float: left;
	font-weight: bold;
	margin-right: 5px;
}


textarea#summary {
	height: 100px;
}

textarea#tags {
	height: 50px;
	width: 96%;
}

div.allow_comments {
	clear: both;
	float: left;
	margin: 1em 0;
	width: 100%;
}

div.allow_comments input {
	float: left;
}

#write #content div.allow_comments label,
#product #content div.undefined_quantity label,
body#product #content div.option-group span.field_line label {
	float: left;
	width: 90%;
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	padding: 2px;
}

#product div.undefined_quantity span.field_line
{
	padding-bottom: 10px;
}
span.field_line
{
	float: left;


	width: 100%;
}



span.field_line select
{
	float: left;
	margin-bottom: 10px;

}

.col-b select#subpage_handle {
}

#simplemodal-data form {

}

body#images form input#alt {
	width: 94%;
}


span.req {
	color: red;
	font-size: 2em;
}

div.resize-handle {
	border-right: 1px dashed #1E90FF;
	cursor: e-resize;
	left: 0;
	position: absolute;
	top: 0;
	width: 2px;
}

/* @end */

/* @group Buttons and Action Links */


#tabs ul.tabs-nav
{
margin: 0 auto;
display: block;
text-align: center;
width: 99.6%;
border-bottom: 2px solid #ccc;
	font-weight: bold;
}

#pages #tabs ul.tabs-nav {
float: left;
width: 25%;
}
#tabs ul.tabs-nav li
{
	float: left;
	display: inline;
	border-bottom: solid 1px #eee;
}
#tabs ul.tabs-nav li a
{
	font-size: 14px;
	padding: 4px 2%;
	float: left;
	width: 98%;
	
}
#pages ul.tabs-nav 
{
	border: none;
}
#pages ul.tabs-nav a
{
	text-align: left;
	font-weight: normal;
}
.messagebox.mtag {
	background: #eee;
	padding: 2%;
	float: left;
	width: 96%;
	margin-top: 1em;
}
.messagebox.mtag h3
{
	margin: 0 0 .2em 0;
	font-weight: bold;
}
.messagebox.mtag p
{
	margin: 0 0 .2em 0;
	font-size: 1.2em;
}
.messagebox.mtag .mtag.wrapper {
float: left;
}
.messagebox.mtag .mtag.wrapper input
{
	background:  #fff url(../images/yari/flickr.gif) no-repeat 5px 50%;
float: left;	margin: 0;
}

.messagebox.mtag .mtag.wrapper input#mtag.select {
	padding-left: 25px !important;
}


#account	{
	float: right;
	clear: none;
	width: 50%;
	line-height: 30px;
}
#account form
{
	float: right;
	display: inline;
	text-align: right;
}
#account input {

	background: #fff;
	color: #7c639b;
	padding: 2px 10px;
	float: right;
	display: inline-block;
	clear: none;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
	margin: 4px 0 0px 10px;
	text-transform: none;
}

#tabs.dual ul.tabs-nav li.add {
float: right;
font-size: 12px;
padding:0;
margin: 0;
}
#tabs.dual ul.tabs-nav li.add a,
#tabs.dual ul.tabs-nav li.add a:hover
{
	background: url(../images/yari/mini/plus.gif) no-repeat 7px;
	font-weight: 700;
	padding-left: 26px;
	white-space: nowrap;
	color: #269ec6;
	width: auto;
	margin-top: 15px;
}
#tabs.dual ul.tabs-nav li.add a:hover
{
	border: 1px solid #7e7e7e;
	color: #269ec6;}
#account input:hover {
cursor: pointer;
color: #7c639b;
border: solid 1px #7c639b;
}

a.clear {
	clear: none;
	color: red;
	text-decoration: underline;
}

#col-right div.col-a a {
	font-size: 1.4em;
	text-decoration: underline;
}

/* @end */

h3 {
	font-weight: bold;
}

/* @group Tables and Sorting */

#article_table tbody td a.tag
 {
	color: #7e7e7e;
	float: left;
	margin: 0 2px 2px 0;
	font-weight: bold;
	border: none;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
	padding: 2px 4px;
	text-shadow: #fff 1px 1px 1px;
	background-color: #eee;
}


#article_table tbody td a.tag:hover
{
	color: #444;
}




th.actions {
	width: 150px;
}

#article_table tr th.title.header {
	width: 30%;
}
#article_table tbody span.off,
#article_table tbody span.draft {
	text-transform: capitalize;
		color: #a9a9a9;
}


tr.hover #article_table tbody span.on,
tr.hover #article_table tbody span.live
{
	color: #eee;
}

#article_table tbody span.on,
#article_table tbody span.live {
	font-weight: bold;
	text-transform: capitalize;
	color: #000;
}
table {
	table-layout: fixed;
	clear: both;
	width: 100%;
}
table.gallery img {
	max-width: 100px;
	max-height: 100px;
}

textarea.copy_url {
	height: 30px;
	overflow: hidden;
	font-size: 12px;
	color: #616161;
}

#content table.gallery td {
	vertical-align: top;
	overflow: hidden;
}

table.gallery th.thumb
{
	width: 135px;
}

td, th {


	font-size: 13px;
}


td.tags a {
	text-decoration: underline;
}

th
{
	padding-left: 20px;
	border-bottom: 2px solid #c7c7c7;
	
}

th.path {
	width: 30%;
}
th.header { 
    cursor: pointer; 
    background: none;    
}
	#simplemodal-overlay {background-color:#000;}

#simplemodal-container {
  background-color: #fff;
  border: 8px solid #eee;
  padding:12px;

}

div#simplemodal-container.simplemodal-container {
	width: 400px;
	float: left;
}


#subpage_handle {
	width: 100%;
	float: left;
}

#simplemodal-container input#submit.button {
	float: none;
	display: block;
	clear: both;
	position: relative;
	margin-bottom: 1em;
}

#old-categories {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#simplemodal-data {
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	

}

body#images .modal img {
	max-height: 200px;
	width: 200px;
	
}
#simplemodal-container a.modalCloseImg {
	background:url(../images/yari/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

th.resize-handle-active {
	cursor: e-resize;
}

thead, tfoot {
	background-color: #fff;
	border-bottom: 1px solid #d5d5d5;
}

#ui-datepicker-div table.ui-datepicker-calendar thead {
	background: transparent;
	height: auto;
	border: none;
}


tr.roweven {
	background-color: #f2f2f2;
}

tr.rowodd {
	background-color: #FFF;
}

.sortasc {
	background-color: #d4efef;
	background-image: url(../images/yari/yari/up.gif);
}

.sortcol {
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-right: 20px;
}

.sortdesc {
	background-color: #d4efef;
	background-image: url(../images/yari/yari/down.gif);
}

.nosort {
	cursor: default;
}

table td {
	border-bottom: solid 1px #ccc;
	font-size: 12px;
padding-left: 21px;
	vertical-align: top;
	color: #434343;
	width: 100px;
}

div#article_list table td.title a {
	font-size: 13px;
	position: relative;
	z-index: 99;
	font-weight: bold;
	float: left;
text-decoration: underline;
	}

 

.markItUp a:hover
{
	background-color: transparent;
}
div#article_list table thead {
	
}


th.header {
	color: #606060;
	text-decoration: underline;
	letter-spacing: 0;
	font-style: normal;
	font-weight: normal;
}


th.header.headerSortDown {
	padding-left: 20px;
	color: #fff;
	background: #444 url(../images/yari/mini/arrow_fat_down.gif) no-repeat 5px;
}
th.header.headerSortUp
{
		padding-left: 20px;
		color: #eee;
	background: #000 url(../images/yari/mini/arrow_fat_up.gif) no-repeat 5px;
}

#article_table thead tr th.status {
	width: 100px;
}
#standard_header {
}

/* @end */

/* @group Notices */

#dialog div.error {
	clear: both;
	text-align: left;
}

#dialog div.error h1 {
	color: #dd5044;
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: normal;
	text-transform: uppercase;
}

#dialog div.error ul {
	list-style-type: square;
	margin-bottom: 0;
}

div#messages {

	background-color: #45ce6f;
	border-radius: 7px;
	color: #fff;
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	padding: 5px 10px 5px 35px;
	text-align: left;
	position: absolute;
	top: 5px;

	left: 40%;
	width: 20%;
}

div#messages .success {
	background: #444 url(../images/yari/icons/check-green.gif) no-repeat 10px 50%;

}

#messages div.success.notice p {
color: #fff;
	font-weight: bold;
}

/* @end */

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
#pages .tabs-nav li
{
	float: left;
	width: 100%;
}

#pages .tabs-nav span.page
{
	background: url(../images/yari/mini/document.gif) no-repeat 0;
}
#pages .tabs-nav span.keyword
{
	background: url(../images/yari/mini/field_textarea.gif) no-repeat 0;
}
#pages .tabs-nav span.keyword,
#pages .tabs-nav span.page
{
padding: 0 0 0 15px;
margin: 0 10px 0 0;
}

#pages .tabs-nav .tabs-selected a {
    color: #000;
	background-color: #fff8bf;
}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {

    outline: 0; /* prevent dotted border in Firefox */
}

.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}

.tabs-container
{
	width: 100%;
	padding: 15px 0;
	overflow: hidden;
	clear: both;
}
#pages .tabs-container {
float: left;
width: 70%;
clear: none;
top: 0;
border: none;
right: 0;
    padding: 0 2%;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

body#pages #tabs {
	float: left;
	width: 100%;
}

.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(../images/icons/loading.gif) no-repeat 0 50%;
}

#account span form {
	float: right;
	display: inline;
	background: none;	clear: none;
}

.editable.over
{
	background: #fcfdd4;
	cursor: pointer;
}


form div.image {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

#account span a {
	color: #333;
	border-bottom: 1px solid #666;
}

form div.image span.field_line input.file.multi {
	padding: 5px;
	cursor: pointer;
}

#account span a:hover
{
	background: none;
	border-bottom: 1px solid #a2a2a2;
}

#my-profile {
width: 200px;
position: absolute;
right: 40px;
z-index: 999;
top: 45px;
background: #66cc9a;
padding: 10px;
}

#my-profile label {
	color: #397256;
}

#my-profile input#submit
{
	padding: 1px 20px;
	font-size: 14px;
	font-weight: bold;
	border: solid 1px #fff;
}

#my-profile span.cancel-option {
font-size: 12px;
line-height: 2;
color: #fff;
margin-left: 10px;	
}

#my-profile span.cancel-option .cancel
{
color: #397256;
}
span.cancel-option .cancel
{
	font-weight: bold;color: #ee815b;	
cursor: pointer;
	text-decoration: underline;
}
#content div.error,
#content div.locked
{
	float: left;
	width: 100%;
	padding: 10px 0;
	margin-left: -2px;
}
#content div.error p {
	font-size: 16px;
	float: left;
	margin: 0;
	padding: 0 0 0 35px;
	width: 100%;
	background: transparent url(../images/yari/icons/alert.gif) no-repeat 10px;
}

#content div.locked
{
		background: #fef8c8 url(../images/yari/icons/locked.gif) no-repeat 10px 15px;
	border-right: 2px solid #f3eebd;
	border-bottom: 2px solid #f3eebd;	
	margin: 0 auto 20px -2px;
	text-align: center;
	float: none;
	overflow: hidden;
}
#content div.locked p
{
		font-size: 16px;
	float: left;
	margin: 0;
	padding: 0 10px 0 35px;
	text-align: left;
}
span.click-to-edit {
	font-style: italic;
	color: #b1b1b1;
}
input.edit-in-place
{
	font-size: 14px;
	margin: 0;
	float: left;
	width: 60%;
	padding: 3px;
	line-height: normal;
	background: #fcfeac;

}
.pager
{
margin: 0 auto;
display: block;
float: right;
width: 55%;
text-align: center;
	position: relative;
}

.pager .pagedisplay
{
	width: 50px;
	text-align: center;
	margin: 0em 0;
	padding: 4px 0 !important;
	float: left;
}

.pager .perpage
{
	float: right;
	font-size: 14px;
	margin: 0 0 .5em 0;
}

.pager div.pagernav {
	float: left;
}
.pager img
{
	margin: .4em 0;
	cursor: pointer;
	float: left;
}




table td button.open-modal.edit {
	margin-bottom: 10px;
}
table td ul.options li
{
	margin: 5px;
	z-index: 2;
}

#simplemodal-data form  {
  float: left;
width: 100%;
}

#article_table td span.on a.comment-count {
	color: #0059bd;
	margin-left: 4px;
	text-decoration: underline;
}
#pages button[disabled='disabled'],
#pages button[disabled]
{
	display:none;
}
#write button[disabled]
{
	opacity: .4;
	cursor: default;
}

table tr.disabled td {
	color: #bababa;
}
table tr.disabled td.hover
{
	color: #444 !important;
	font-weight: bold;
}

.links-form label[for=new-categories] {
padding-left: 6%;
	background: url(../images/yari/mini/arrow_collapse.gif) no-repeat 0;
	cursor: pointer;
	font-size: 12px;
	color: #939393;
	width: 94%;
	text-decoration: underline;
}
.links-form label[for=new-categories].expanded
{
		background: url(../images/yari/mini/arrow_expand.gif) no-repeat 0;

}



table td ul.options form {
	float: left;
clear: none;
	width: auto;
	display: inline;
	padding: 0;
	margin: 0;
}


/*div.action-bubble  {
	position: absolute;
	z-index: 999;
	padding: 2px;
	background: #f0f0f0;
	width: auto;
	border-bottom: solid 2px #ccc;
	border-right: solid 2px #ccc;
		border-left: solid 1px #ccc;		
		border-top: none;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;		
}*/

table tr.hover
{
	cursor: pointer;
}

#article_list tr.hover td.title span
{
	border-bottom: 1px solid #888;
	padding-bottom: 1px;
}
tr.hover,tr.hover td {
	background: #f0f0f0;
	border-bottom: solid 1px #ddd;
	color: #444;
	text-shadow: #fff 1px 1px 0;
	}
	
	
td.title {
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
}
ul.options li button,
ul.options li a.button
{
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-border-radius: 0;
	border-bottom: none;
	-webkit-box-shadow: none;
	border: none;
opacity: .7;
	background: inherit;
padding: 0;
	-moz-box-shadow: none;
	font-weight: 400;
	font-size: 12px;
margin: 0;

}

ul.options li button:hover,
ul.options li:hover a
{
	opacity: 1;
}

ul.options {
  white-space: nowrap;
width: 100%;
}

ul.options li button span,
ul.options li .button span
{
display: none;
}
ul.options li a
{
	text-decoration: none;
	border-bottom: none !important;
}
ul.options li button
{
  width: 16px !important;
  height: 16px !important;
}
ul.options li a.delete,
ul.options li button.delete,
ul.options li a.delete:hover
{
	height: 16px;
	width: 16px;
	background: url(../images/yari/icons/trash.gif) no-repeat 0;
}
ul.options li a.button.view
{

	width: 16px !important;
	height: 16px;
	background: url(../images/yari/icons/search.gif) no-repeat 0;}

ul.options li a.button.edit
{

	width: 16px !important;
	height: 16px;
	background: url(../images/yari/icons/edit.gif) no-repeat 0;}

ul.options li button.disable
{


	background: url(../images/yari/icons/mini/close.gif) no-repeat 50% 50%;
	}

ul.options li button.reenable
{
	background: url(../images/yari/icons/mini/close_gray.gif) no-repeat 50% 50%;
	}

	ul.options li button.delete:hover
	{
	background: inherit;
	padding: 0;
}


ul.options
{
	float: left;
	text-align: right;
	margin: 0;
	padding: 0;
	width: 100%;

}
ul.options li {
text-align: right;
float: left;
	padding: 5px;
background: #fff;
position: relative;
z-index: 1000001;
border: 1px solid #eee;
border-right: solid 1px #ddd;
border-bottom: solid 1px #ddd;
margin: 0 5px;
	list-style: none;
}
ul.options li:hover{
  background-color: #f4fdb9;
}
#lightbox .button.dark {
	font-size: 85%;
	background: #333;
	border: 1px solid transparent;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
	padding-left: 8px;
}

#lightbox .button.dark img {
	height: 13px;
	margin-bottom: -2px !important;
}

#lightbox div.buttons {
	margin: 0 0 1.2em 0;
}

.prompt li.buttons {
	padding-top: 5px;
}

.prompt button {
	float: none;
	display: inline;
	display: inline-block;
}

form li.buttons {
	position: relative;
	clear: both;
	padding-top: 10px;
	width: 97% !important;
}

form li.buttons input {
	font-size: 100%;
	margin-right: 5px;
}

.buttons .marker {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 10px 0 0;
	color: #000;
}

#settings #content .col-a
{
	clear: both;
}
#content .col-a,
#content .col-b
{
	float: left;
}

#content .col-a
{
	width: 70%;
	margin-right: 2%;
}

#content .col-b
{
	width: 26%;
	padding: 0 0 0 2%;

}

textarea.markitup {
	width: 94% !important;
	padding: ;
}


#pages textarea#value.markitup.textile.markItUpEditor {
			height: 700px

}



#tabs.dual ul.tabs-nav li
{
	padding: 5px 1em 0 1em;
	border: none;
	margin: 0 10px 0 0 ;
	margin-top: 10px;
}

#tabs.dual ul.tabs-nav li.tabs-selected
{
	margin-top: 0;
}

#tabs.dual ul.tabs-nav li a
{
	padding: 7px 10px;
	margin-bottom: -2px;
	border: 2px solid #ccc;
	border-bottom: none;
		-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	color: #939393;
}
#tabs.dual ul.tabs-nav li.tabs-selected a
{
	color: #444;
	font-size: 22px;
	background-color: #fffefe;
}
#tabs.dual ul.tabs-nav li a:hover
{
	background: #eee;
}

#tabs.dual ul.tabs-nav li.tabs-selected a:hover
{
	background: #fff;
}




/* shop */

#slider
{
	float: left;
	clear: both;
	width: 100%;
	display: block;

}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider li{ 
	width:300px;
	position: relative;
	height:300px;
	overflow:hidden; 
	}	
#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-30px;
	top:71px;
	}	
#nextBtn{ 
	left:696px;
	}														
#prevBtn a, #nextBtn a{  
	display:block;
	width:30px;
	height:77px;
	background:url(images/btn_prev.gif) no-repeat 0 0;	
	}	
#nextBtn a{ 
	background:url(images/btn_next.gif) no-repeat 0 0;	
	}
		

/* Easy Slider */

	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}

		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;
	clear: both;
	text-align: center;
	display: block;
	float: left;
}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height: 28px;
		border:1px solid #ccc;
		background: #f0f0f0;
		color:#555;
		padding:0 10px;
		text-decoration:none;
	font-weight: bold;
	font-size: 16px;
}
	ol#controls li.current a{
		background: #897ab1;
		color:#fff;
		border: 1px solid #6d6977;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */




 
.multiSelect {
	background: #fff url(../images/yari/dropdown.gif) right center no-repeat;
	border: solid 1px #ccc !important;
	display: inline;

	width: auto;
	padding: 7px; }
 
	.multiSelect.active { background: url(../images/yari/dropdown_active.gif) right center no-repeat; }
 
	.multiSelect.active,.multiSelect.focus { border: inset 1px #000; }
 
	.multiSelect.hover { background: url(../images/yari/dropdown_hover.gif) right center no-repeat; }
 
.multiSelectOptions {
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;	
		border-right: solid 2px #ccc;
			border-bottom: solid 2px #ccc;
	margin-top: 4px;
	background: #fff;
	max-height: 250px;
	overflow: auto;
	width: 250px; 
	z-index: 999;
}
 
	.multiSelectOptions label {
		display: block;
		float: left;
		width: 96%;
		padding: 2px 2%;
	font-size: 12px;

	color: #4f4f4f;
}
 
		.multiSelectOptions label.checked { background: #fdfece; color: #434343;
	font-weight: bold;
}

span.field_line p.desc {
	font-size: 12px;
	color: #565656;
	margin: 0;
}
 
 
		.multiSelectOptions label.selectall { border-bottom: dotted 1px #CCC; }

input#attribution, input#link {
	width: 92%;
	font-size: 16px;
}

select#page {
	width: 80%;
}


